{% extends template_base %}

{% block title %}{{block.super}} - Home{% endblock %}

{% block content %}

<h3>{{doc}}</h3>

<ul>
{% for section in doc.sections %}
  <li>
    <h4>{{section.title}}</h4>
    <ul>
      {% for article in section.articles %}
      <li>
        <h5>{{article.title}}</h5>
        {{article.text}}
      </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock content %}

{% block body %}
{{block.super}}
<ul id="translations">
  <li>is</li>
  <li>en</li>
  <li>es</li>
</ul>
{% endblock %}
