{% extends template_base %}
{% load icecan %}

{% block title %}{{block.super}} - List of documents{% endblock %}

{% block css_head %}
{{block.super}}
<link rel="stylesheet" href="/static/design/diff.css" type="text/css"/>
{% endblock css_head %}

{% block js_head %}
{{block.super}}
<script src="/static/functional/wDiff.js" type="text/javascript"></script>
{% endblock js_head %}

{% block content %}

<h1>Comparing {{docA}} with {{docB}}:</h1>
{% with docA as document %}
Title: {{document.title}}
<h2>Texts:</h2>
<ul>
    {% for text in document.texts %}
    <li>
        Title: {{text.title}}
        <h2>Sections:</h2>
        <ul>
            {% for section in text.sections %}
            <li>
                Title: {{section.title}}
                <h2>Articles:</h2>
                <ul>
                    {% for article in section.articles %}
                    <li class="article">
                        {% with article|find_diff_article:articles as article_pair %}
                        <div class="texts">
                            <div id="text_article_{{article.id}}" class="old">{{article.buffer|striptags}}</div>
                            <div id="text_article_{{article_pair.articleB.id}}" class="new">{{article_pair.articleB.buffer|striptags}}</div>
                        </div>
                        <div class="diffs">
                            <div id="diff_article_{{article.id}}" class="old">Title: {{article.title}}</div>
                            <div id="diff_article_{{article_pair.articleB.id}}" class="new">Original title: {{article_pair.articleB}}</div>
                        </div>
                        <div class="clearboth"></div>
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endwith %}

<script type="text/javascript">
    $('.article').each(function () {
            var oldTextElem = $(this).find('.texts .old');
            var newTextElem = $(this).find('.texts .new');
            oldTextElem.hide();
            newTextElem.hide();
            var oldDiff = WDiffString(oldTextElem.html(), newTextElem.html());
            var newDiff = WDiffString(oldTextElem.html(), newTextElem.html());
            $(this).find('.diffs .old').append(oldDiff);
            $(this).find('.diffs .new').append(newDiff);
        });
</script>

{% endblock content %}
