
.clearboth {
    clear: both;
}

.diffs .old,
.diffs .new {
    background: #ccf;
    width: 45%;
    float: left;
    margin: 10px;
}

.diffs .old .wDiffHtmlInsert,
.diffs .new .wDiffHtmlDelete {
    display: none;
}

