
body {
  color: #aaa;
  background-color: #DDDDDD;
//  text-shadow: 0px 1px 1px #005;
  margin: 0;
}

a {
  color: white;
  text-shadow: none;
  text-decoration: none;
}
a:visited {
  color: gray;
}
a:hover {
  color: white;
  text-shadow: 0px 0px 5px #fff;
}

.panel > * {
//  border: 1px dashed red;
  width: 810px;
  margin: 0 auto;
}
.border-deco {
  display: block;
  border-top: 1px solid #aaa;
}

.clear {
  display: block;
  clear: both;
}


#user {
  font-size: 0.7em;
  border-bottom: 1px solid gray;
}
#user > div {
  display: none;
  padding: 1em;
}
#user #hide {
  display: block;
  text-align: center;
  padding: 0.2em 0;
  font-style: italic;
  margin: 0px;
  background-color: #333;
  border-top: 1px solid gray;
}


#header {
  text-align: center;
  background-color: black;
  //text-shadow: 0px 0px 2px #fff;
  //min-height: 5em;
  border-bottom: 2px solid #444;
  padding: 2em;
}


#menu h2 {
  display: none;
}
#menu {
  background-color: #000000;
  border-bottom: 2px solid #444;
}
#menu ul {
  padding: 0;
}
#menu li {
  text-align: center;
  border-right: 1px solid gray;
  display: inline-block;
  padding: 9px;
  margin: 0px;
  list-style: none;
  width: 6em;
}
#menu li.first {
  border-left: 1px solid gray;
}

#content h2 {
  display: none;
}
#content {
  background-color: #aaa;
  color: black;
  width: 770px;
  margin: 0px auto;
  padding: 0.1em 20px;
}
#content > * {
  width: 100%;
}

.document {
  width: 300px;
  padding: 0px;
  margin: 20px;
  border: 1px dotted gray;
}
.document ul {
  padding: 0;
}
.document li {
  margin: 0;
}
.section li {
  padding-left: 50px;
}
.section {
  
}
.article {
  opacity: 0.65;
}
.article:hover {
  opacity: 1;
  background: #f0f0f0;
}
.article .old {
  display: none;
  width: 250px;
  left: -310px;
  position: relative;
  margin-right: -100%;
  margin-bottom: -100%;
  background: #f0f0f0;
  padding: 5px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 9px;
}

#footer h2 {
  display: none;
}
#footer {
  padding: 2em;
  text-align: center;
  background-color: #000;
  border-top: 2px solid #444;
}


#login_form {
}
#login_form input[type="submit"] {
}
label {
  display: block;
  width: 8em;
  float: left;
}

ul#translations {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
}
#translations li {
  opacity: 0.6;
  background-color: #222222;
  text-align: center;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  padding: 4px;
  margin: 0px;
  list-style: none;
  width: 3em;
}
#translations li:hover {
  opacity: 0.9;
} 
 
 
/* Helgi */

 #content {
  background-color: #f8f8f8;
  color: #444;
  width: 670px;
  margin: 0px auto;
  padding: 0.1em 20px;
}

 body {
   font-family : Arial, Helvetica, sans-serif;
   
 }

#content {
	padding-right: 100px;
	padding-left: 40px;
	padding-top: 20px;
}
 
#content li {
	list-style-type: none;
/*	margin-bottom: 20px;*/
/*	margin-top: 5px;*/
}

#content  h5{
	padding-bottom: 5px;
	border-bottom: dotted 1px #ddd;
}

#content  h4{
	padding-bottom: 5px;
	border-bottom: dotted 1px #999;
}
#content h4, h5, li {
	font-size: 12px;
}

#content h4, h5 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 20px;
}


#content h3 {
	font-family: Georgia,"Bitstream Vera Serif","Times New Roman",serif;
	font-size: 20px;
}

#header h1 {
	font-family: Georgia,"Bitstream Vera Serif","Times New Roman",serif;
	font-weight: normal;
	font-size: 28px;
	color: #333;
	text-shadow: 1px 1px 1px #DDD;
}

#header {
	background-color: white;
	border-bottom: 2px solid #dddddd;
}

#menu {
  display: none;
}

#footer {
  padding: 2em;
  text-align: center;
  background-color: white;
  border-top: 2px solid #dddddd;
}
